body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
}
main{
    display:grid;
    gap:20px;
}
   
h1{
    display: grid;
    justify-items: center;
    font-size: -webkit-xxx-large;
    background-color: greenyellow;
    font-weight: unset;
}
.inicio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: yellow;
}
div{
    display: grid;
    gap: 4rem;
}
.inicio,.servicios{
    background-color:white;
}
button{
    display: grid;
    margin: 0 auto;
    width: 20rem;
    height: 3rem;
    align-items: center;
    border-radius: 1rem;
    background-color: orange;
    border: none;
}
.dishes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 1fr;
    gap: 15px;
    justify-content: center;
 }
.dish{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}
.dish-max{
    display: grid;
    grid-area: 1/1/3/3;
}
