body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
}
h1{
    display: grid;
    justify-items: center;
    font-size: -webkit-xxx-large;
    background-color: greenyellow;
    font-weight: unset;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: yellow;
}
div{
    display: grid;
    gap: 4rem;
}
button{
    display: grid;
    margin: 0 auto;
    width: 20rem;
    height: 3rem;
    align-items: center;
    border-radius: 1rem;
    background-color: orange;
    border: none;
}
